/**** R E S E T  start****/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
::placeholder {
  color: unset;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
/**** R E S E T  end****/

/* ### Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%) */

body {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  font-size: 18px;
  color: hsl(210, 10%, 33%, 0.8);
  font-weight: 400;
  background-image: url(../images/bg-header-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
.container {
  max-width: 15.3125rem;
  font-size: 0.8rem;
}
p {
  color: hsl(201, 11%, 66%);
  margin-bottom: 2.5rem;
}
h1,
h2,
h3 {
  font-weight: 600;
}
h1 {
  font-size: clamp(1.5rem, 3vw, 1.9rem);
  margin-bottom: 1rem;
}
h2 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  margin-top: 7rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/*** content  ***/

header img {
  margin: 3.65rem 0rem;
}

/** BUTTOM **/
.btn{
    display: inline-block;
    width: 15rem;
    padding: 1rem;
    background-color: blueviolet;
    color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    font-weight: 600;
}
.ios{
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 10px 15px -3px hsl(171, 66%, 44%, 0.4), inset 0px -15px 0px -12px rgba(0,0,0,0.2);
    margin-bottom: 1.5rem;
}
.mac{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 10px 15px -3px hsl(233, 100%, 69%, 0.4), inset 0px -15px 0px -12px rgba(0,0,0,0.2);
}
ul{
    margin-top: 5rem;
}
.company li{
    margin-top: 2.5rem;
 
}
.company li>img{
    width: 40%;
}
footer{
    background-color: hsl(201, 11%, 66%, 0.1);
    margin-top: 8rem;
    padding: 2rem;
    font-weight: 600;
    width: 100%;
}
footer>img{
    max-width: 20%;
}
.extra-links{
    margin-top: 2rem;
}
.extra-links>li{
    padding: 0.5rem;
}
.socials{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2rem;
}
.socials>li{
    padding: 0.8rem;
}



@media (min-width: 33rem){
  .container{
    max-width: 30rem;
  }
}

@media (min-width: 68.75rem){
  .container{
    max-width: 75%;
  }
  .btn{
    display: inline;
    margin-right: 2rem;
    padding: 1rem 2rem;
  }

  article:nth-child(1) img{
    float: left;
    margin-left: -13rem;
    margin-right: 5rem;
    max-width: 145%;
    margin-top: ;
  }
  article:nth-child(1) h3{
    text-align: left;
    margin-top: ;

  }
    article:nth-child(1) p{
    text-align: left;
  }
  .psh-dsk{
    margin-bottom: 5rem;
  }
  .clear{
    clear: both;
    margin-top: 20rem;
  }
  .workflow{
    display: flex;
    justify-content: space-between;
  }
  .workflow li{
    padding: 3rem;
  }
  .company{
    display: flex;
    justify-content: space-between;
  }
  .company li>img{
    width: 90%;
}
footer{
  padding: 0rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.extra-links{
       height: 5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}
.extra-links li{
  text-align: left;
}
}